<div class="container mt-5">
  <div class="text-center">
    <h1>Find your match</h1>
    <p class="lead">Come on in to your view your matches... All you need to do is signup</p>
    <div class="text-center">
      <button [routerLink]="['/register']" routerLinkActive="router-link-active"  class="btn-primary btn-lg mr-2">Register</button>
      <button class="btn-info btn-lg">Learn More</button>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">

      </div>
    </div>
  </div> 
</div>
