<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
    </ul>
    <div *ngIf="loggedIn()" class="dropdown">
        <a class="dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink">
          Welcome
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username" [(ngModel)]="model.username" #username="ngModel" required />
      <input class="form-control mr-sm-2" name="password" type="password" [(ngModel)]="model.password" placeholder="Password" #password="ngModel" required />
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
<br/>
<br/>

<pre *ngIf="!loggedIn()">
  Form Valid: {{ loginForm.valid }}
  Form Touched: {{ loginForm.touched }}
  Form Dirty: {{ loginForm.dirty }}
  Form Values: {{ loginForm.value | json }}
  Username Valid: {{ username.valid }}
  Username Touched: {{ username.touched }}
  Username Dirty: {{ username.dirty }}
  Username Value: {{ username.value }}
  Password Valid: {{ password.valid }}
  Password Touched: {{ password.touched }}
  Password Dirty: {{ password.dirty }}
  Password Value: {{ password.value }}
</pre>
